<html>
    <head>
        <title>Forgot password</title>
    </head>
    <body bgcolor="#f1f1f1">
        <form>
            <table border="2" >
                <tr>
                    <th>Email</th> 
                    <td><input type="email" name="email" placeholder="Enter your email!"></td>
                </tr>
                <tr>
                    <th>Enter new password </th>
                    <td><input type="password" name="p1" placeholder="Enter new password"></td>
                </tr>
                <tr>
                    <th>Re-enter new password </th>
                    <td><input type="password" name="p2" placeholder="Re-enter new password"></td>
                </tr>
            </table>
        </form> 
    </body>
</html>